# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.opensdf
*.sdf
*.idb
*.pdb
*.tlog
*.exe
*.ilk
*.obj
*.log
*.suo
*.vcxproj
*.suo
XGame/Client/Client.vcxproj
XGame/Client/Client.vcxproj
XGame/Client/Client.vcxproj
XGame/Servidor/Servidor.vcxproj
XGame/XGame.v12.suo